
#logo {
    width: 100%;
}
.caixa {
    display: inline;
    position: flex;
    width: 940px;
    margin: 0 auto;
}

nav li {
    display:inline;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    margin: 0, 25px, 0, 15px;
    padding: 30px;
    padding-right: 0%;
}


#banner {
    width: 15%;
}

body {
    background: #cccccc;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
}
#p1 {
    text-align: center;
    font-size: 60px;
    margin-left: 100px;
    margin-right: 100px;
    color: darkred;
}

h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

h3 {
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.paragrafos {
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

#aprendi {
    background: white;
    padding-bottom: 30px;
}

