#banner {
    width: 100%;
}

body {
    background: #cccccc;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
}
#p1 {
    text-align: center;
    font-size: 60px;
    margin-left: 100px;
    margin-right: 100px;
    color: darkred;
}

h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

.paragrafos {
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

#aprendi {
    background: white;
    padding-bottom: 30px;
}